<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Login
    body
        h1 Login
        form(action="validar.php" method="post")
            label(for="username") Username
            input(type="text" name="username" id="username" required)
            <br/>
            <br/>
            label(for="clave") Clave
            input(type="password" name="clave" id="clave" required)
            <br/>
            <br/>
            button(type="submit") Entrar
