<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="css/register.css")
		link(href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet")
		title Registrar
	body
		div(class="container-form")
			h1(class="title") Registrar
			form(action="registrar.php", method="post" class="form")
				div(class="form__item")
					label(for="nombre" class="form__label") Nombre
					input(type="text" name="nombre" id="nombre" class="form__input" required)
					label(for="apellidos" class="form__label") Apellidos
					input(type="text" name="apellidos" id="apellidos" class="form__input" required)
					label(for="username" class="form__label") Nombre de usuario
					input(type="text" name="username" id="username" class="form__input" required)
					label(for="clave" class="form__label") Clave
					input(type="password" name="clave" id="clave" class="form__input" required)

					input(type="submit" value="Registrar" class="button-register")