@import '../helpers/_colors';
@import '../helpers/_tipography';
@import '../helpers/_gutters';
@import '../helpers/_media-queries';
@import '../helpers/_buttons';

.title{
	margin-bottom: $gutter-grid;
	text-align: center;
	font-size: $t2;
	color: $textColor;
}

.button-login{
	@include buttonSubmit;
}

.p3{
	font-size: $t5;
	a{
		position: relative;
		font-size: $t5;
		color: $accentColor;
		text-decoration: none;
		&:before{
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			width: 0;
			height: 2px;
			background-color: $accentColorAlt;
			transition: .3s all;
			@include querie(tablet){
				display: none;
			}
		}
		&:hover::before{
			width: 100%;
		}
		@include querie(tablet){
			text-decoration: underline;
		}
	}
}