$firstColor      :#007BDF;
$firstColorAlt   :#006DC6;
$secondColor     :#00CBFF;
$secondColorAlt  :#00BFF0;
$thirdColor      :#FF3C32;
$thirdColorAlt   :#FF2419;
$accentColor     :#FBA905;
$accentColorAlt  :#F1A000;
$darkColor       :#282D31;
$darkColorAlt    :#141618;
$borderColor     :#DFE0E0;
$textColor       :#53575A;
$bodyBg          :#FAFDFF;