@mixin querie($version){
	$desktop         : "(max-width: 920px)";
	$tablet          : "(max-width: 850px)";
	$mobileNormal    : "(max-width: 670px)";
	$mobileMedium    : "(max-width: 520px)";
	$mobileSmall  	 : "(max-width: 400px)";


	@if $version == "desktop" {
		@media screen and #{$desktop}{
			@content;
		}	
	}
	@else if $version == "tablet"{
		@media screen and #{$tablet}{
			@content;
		}	
	}
	@else if $version == "mobileNormal"{
		@media screen and #{$mobileNormal}{
			@content;
		}	
	}
	@else if $version == "mobileMedium"{
		@media screen and #{$mobileMedium}{
			@content;
		}	
	}
	@else if $version == "mobileSmall"{
		@media screen and #{$mobileSmall}{
			@content;
		}	
	}
}